<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="get" th:action="@{/}">
    <table class="table table-dark">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Code book</th>
            <th>Date</th>
        </tr>
        </thead>

        <tbody>
        <th:block th:each="book :${book}">
            <tr>
                <td th:text="*{book.id}"></td>
                <td th:text="*{book.name}"></td>
                <td th:text="*{book.quantity}"></td>
                <td th:text="*{book.codeBook}"></td>

                <td >
                    <a th:href="@{/{id}/rent(id=${book.id})} " class="btn btn-outline-primary">Rent </a>
                </td>
            </tr>
        </th:block>
        </tbody>

    </table>
</form>
</body>
</html>