<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d  8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <!--            private String customerId;-->
    <!--            private String customerTypeId;-->
    <!--            private String customerName;-->
    <!--            private String customerBirthday;-->
    <!--            private String customerGender;-->
    <!--            private String customerIdCard;-->
    <!--            private String customerPhone;-->
    <!--            private String customerEmail;-->
    <!--            private String customerAddress;-->
    <!--    /*@thymesVar id="blog" type="com.example.demo"*/-->
    <form th:action="@{/question/update}" th:object="${questionList}" method="post">
        <input class="form-control col-6" type="hidden" th:field="*{customerId}" th:readonly/>
<!--        <div class="form-group">-->
<!--            <label class="col-form-label col-2">customerTypeId</label>-->
<!--            <input class="form-control col-6" type="text" th:field="*{customerTypeId}"/>-->
<!--        </div>-->
        <select th:field="*{[[-----i-]].customerTypeId}">
            Customer Type Id
            <option th:each="customerTypeL: ${customerType}" th:value="${customerTypeL.customerTypeId}" th:text="${customerTypeL.customerTypeName}">
            </option>

        </select>
        <div class="form-group">
            <label class="col-form-label col-2">customerName</label>
            <input class="form-control col-6" type="text" th:field="*{customerName}"/>
        </div>
        <div class="form-group">
            <label class="col-form-label col-2">customerBirthday</label>
            <input class="form-control col-6" type="date" th:field="*{customerBirthday}"/>
        </div>
        <div class="form-group">
            <label class="col-form-label col-2">customerGender</label>
            <input class="form-control col-6" type="text" th:field="*{customerGender}"/>
        </div>
        <div class="form-group">
            <label class="col-form-label col-2">customerIdCard</label>
            <input class="form-control col-6" type="text" th:field="*{customerIdCard}"/>
        </div>
        <div class="form-group">
            <label class="col-form-label col-2">customerPhone</label>
            <input class="form-control col-6" type="text" th:field="*{customerPhone}"/>
        </div>
        <div class="form-group">
            <label class="col-form-label col-2">customerEmail</label>
            <input class="form-control col-6" type="text" th:field="*{customerEmail}"/>
        </div>
        <div class="form-group">
            <label class="col-form-label col-2">customerAddress</label>
            <input class="form-control col-6" type="text" th:field="*{customerAddress}"/>
        </div>




<!--        <div class="form-group">-->
<!--            <label class="col-form-label col-2">Category</label>-->
<!--            <select th:field="*{category}" >-->
<!--                <option th:each="p:${categoryList}" th:text="${p.name}" th:value="${p.id}" th:selected="(${p.id} == *{category.id})"></option>-->
<!--            </select>-->
<!--        </div>-->
        <input type="submit" class="btn btn-outline-success" value="Update"/>

    </form>
    <a th:href="@{/customer}" class="btn btn-outline-primary">Back</a>
</div>

</body>
</html>