<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <h1>Create new Contract</h1>

    <form th:action="@{/contract/save}" th:object="${contract}" method="post" novalidate="novalidate">
        <div class="form-group">
            <label class="col-form-label col-2">Id</label>
            <input class="form-control col-6" type="text" th:field="*{contractId}"/>
        </div>
        <div class="form-group">
            <label class="col-form-label col-2">Start Date</label>
            <input class="form-control col-6" type="date" th:field="*{contractStartDate}"/>
        </div>
        <div class="form-group">
            <label class="col-form-label col-2">End Date</label>
            <input class="form-control col-6" type="date" th:field="*{contractEndDate}"/>
        </div>
        <div class="form-group">
            <label class="col-form-label col-2">Deposit</label>
            <input class="form-control col-6" type="text" th:field="*{contractDeposit}"/>
        </div>
        <div class="form-group">
            <label class="col-form-label col-2">Total Money</label>
            <input class="form-control col-6" type="text" th:field="*{contractTotalMoney}"/>
        </div>
        <div>
            Employee
            <select class="form-control" th:field="*{employee.employeeId}">
                <option th:each="employeeL : ${employeeList}" th:value="${employeeL.employeeId}" th:text="${employeeL.employeeName}">
                </option>
            </select>
        </div>
        <div>
            Customer
            <select   class="form-control" th:field="*{customer.customerId}">
                <option  th:each="employeeL : ${customerList}" th:value="${employeeL.customerId}" th:text="${employeeL.customerName}">
                </option>
            </select>
        </div>
        <div>
            Service
            <select  class="form-control" th:field="*{serviceId.serviceId}">
                <option th:each="employeeL : ${serviceList}" th:value="${employeeL.serviceId}" th:text="${employeeL.serviceName}">
                </option>
            </select>
        </div>

        <input type="submit" class="btn btn-outline-success" value="Create"/>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>