<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <form style="float: right" th:action="@{/employee/list}" class="form-inline my-2 my-lg-0" method="get">
        <input class="form-control mr-sm-2" type="search" placeholder="Search by name" aria-label="Search"
               th:name="keyword">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <h2>Employee list</h2>
    <a th:href="@{/employee/create}">Create new employee</a>
    <!--    <h2 th:text ="{message}" style="color: red"></h2>-->
    <table class="table table-repository">
        <thead>
        <tr>

<!--            private String employeeId;-->
<!--            private String employeeName;-->
<!--            private String employeeBirthday;-->
<!--            private String employeeIdCard;-->
<!--            private String employeeSalary;-->
<!--            private String employeePhone;-->
<!--            private String employeeEmail;-->
<!--            private String employeeAddress;-->
<!--            private String positionId;-->
<!--            private String educationDegreeId;-->
<!--            private String divisionId;-->
<!--            private String userName;-->

            <th>employeeId</th>
            <th>employeeName</th>
            <th>employeeBirthday</th>
            <th>employeeIdCard</th>
            <th>employeeSalary</th>
            <th>employeePhone</th>
            <th>employeeEmail</th>
            <th>employeeAddress</th>
            <th>position</th>
            <th>educationDegree</th>
            <th>division</th>
            <th>userName</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="service :${employeeList}">
            <tr>
                <td th:text="${service.employeeId}"></td>
                <td th:text="${service.employeeName}"></td>
                <td th:text="${service.employeeBirthday}"></td>
                <td th:text="${service.employeeIdCard}"></td>
                <td th:text="${service.employeeSalary}"></td>
                <td th:text="${service.employeePhone}"></td>
                <td th:text="${service.employeeEmail}"></td>
                <td th:text="${service.employeeAddress}"></td>
                <td th:text="${service.position.positionName}"></td>
                <td th:text="${service.educationDegree.educationDegreeName}"></td>
                <td th:text="${service.division.divisionName}"></td>
                <td th:text="${service.user.username}"></td>

                <td>
                    <a th:href="@{/employee/{id}/update(id=${service.employeeId})}"
                       class="btn btn-outline-primary">Edit</a>
                </td>
                <td>
                    <a data-toggle="modal" data-target="#modalDelete"
                       th:data-id="${service.getEmployeeId()}" th:data-name="${service.employeeName}"
                       class="btn btn-danger delete">Delete</a>
                </td>
            </tr>

        </th:block>
        </tbody>
    </table>
    <div class="pagination-div">
<span th:if="${employeeList.hasPrevious()}">
    <a th:href="@{/customer(page=${employeeList.number - 1},keyword = ${keywordOld},size=${employeeList.size})}">Previous</a>
</span>
        <th:block th:each="i: ${#numbers.sequence(0, employeeList.totalPages - 1)}">
            <span th:if="${employeeList.number == i}" class="selected">[[${i}+1]]</span>
            <span th:unless="${employeeList.number == i}">
         <a th:href="@{/customer(page=${i},size=${employeeList.size},keyword = ${keywordOld})}">[[${i}+1]]</a>
    </span>
        </th:block>
        <span th:if="${employeeList.hasNext()}">
    <a th:href="@{/customer(page=${employeeList.number+1},keyword = ${keywordOld},size=${employeeList.size})}">Next</a>
</span>
    </div>
    <a th:href="@{/home}">Home</a>
</div>

<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form th:action="@{/employee/delete}" method="get">
                <input type="hidden" id="deleteId" name="id">
                <div class="modal-body">
                    <span id="modalMessage"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Delete anyway</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script>
    $(".delete").click(function () {
        let id = $(this).attr("data-id");
        let name = $(this).attr("data-name");
        console.log("ID can xoa: " + id);

        $("#deleteId").val(id);
        $("#modalMessage").text("Ban co muon xoa " + name);


        $("#modelId").modal('show');
    })
</script>


</body>
</html>