<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <!--    <form action="/blog/search" style="float: right" method="post">-->
    <!--        <input type="text" th:name="inputSearch">-->
    <!--        <input type="submit" th:value="search">-->
    <!--    </form>-->
    <h2>Blog list</h2>
    <a th:href="@{/service/create}">Create new service</a>
    <a th:href="@{/service/list}">List service</a>
    <!--    <h2 th:text ="{message}" style="color: red"></h2>-->
    <table class="table table-repository">
        <thead>
        <tr>


<!--            private String serviceId;-->
<!--            private String serviceName;-->
<!--            private String serviceArea;-->
<!--            private String serviceCost;-->
<!--            private String serviceMaxPeople;-->
<!--            private String rentTypeId;-->
<!--            private String serviceTypeId;-->
<!--            private String standardRoom;-->
<!--            private String descriptionOtherConvenience;-->
<!--            private String poolArea;-->
<!--            private String numberOfFloors;-->

            <th>serviceId</th>
            <th>serviceName</th>
            <th>serviceArea</th>
            <th>serviceCost</th>
            <th>serviceMaxPeople</th>
            <th>rentTypeId</th>
            <th>serviceTypeId</th>
            <th>standardRoom</th>
            <th>descriptionOtherConvenience</th>
            <th>poolArea</th>
            <th>numberOfFloors</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="service :${serviceList}">
            <tr>
                <td th:text="${service.serviceId}"></td>
                <td th:text="${service.serviceName}"></td>
                <td th:text="${service.serviceArea}"></td>
                <td th:text="${service.serviceCost}"></td>
                <td th:text="${service.serviceMaxPeople}"></td>
                <td th:text="${service.rentTypeId.rentTypeName}"></td>
                <td th:text="${service.serviceTypeId.serviceTypeName}"></td>
                <td th:text="${service.standardRoom}"></td>
                <td th:text="${service.descriptionOtherConvenience}"></td>
                <td th:text="${service.poolArea}"></td>
                <td th:text="${service.numberOfFloors}"></td>

                <td>
                    <a th:href="@{/service/{id}/update(id=${service.serviceId})}"
                       class="btn btn-outline-primary">Edit</a>
                </td>
                <td><a th:href="@{/service/{id}/delete(id=${service.serviceId})}"
                       class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>

        </th:block>
        </tbody>


    </table>
</div>
<!--<button type="submit" class="btn btn-primary" th:href="@{/home/}">Home</button>-->
<a th:href="@{/home/}">Home</a>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<!--<script>-->
<!--    $(document).ready(function () {-->
<!--        $("#btnModalCreate").click(function () {-->
<!--            $.ajax({-->
<!--                type: "GET",-->
<!--                url: "create",-->
<!--                dataType: "HTML",-->
<!--                success: function (data) {-->
<!--                    $(".modal-body").html(data);-->
<!--                    $("#modelId").modal('show');-->
<!--                }-->
<!--            });-->
<!--        });-->
<!--    });-->
<!--</script>-->
</body>
</html>