<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <form action="/blog/search" style="float: right" method="post">
        <input type="text" th:name="inputSearch">
        <input type="submit" th:value="search">
    </form>
    <h2>Blog list</h2>
    <a th:href="@{/blog/create}">Create new category</a>
    <a th:href="@{/category}">List category</a>
    <h2 th:text ="{message}" style="color: red"></h2>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Blog list</th>

        </tr>
        </thead>
        <tbody>
        <th:block th:each="blog :${categoryList}">
            <tr>
                <td th:text="${category.id}"></td>
                <td><a th:href="@{/category/{id}/view(id=${category.id})}" th:text="${category.name}"></a></td>
                <td><a th:href="@{/category/{id}/update(id=${category.id})}" class="btn btn-outline-primary">Edit</a>
                </td>
                <td><a th:href="@{/category/{id}/delete(id=${category.id})}" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>

        </th:block>
        </tbody>
        <div>
            <a th:href="@{'/customer'(page=${blogList.number - 1})}" th:if="${blogList.hasPrevious()}">Previous</a>
            <span th:text="${blogList.number + 1}"></span>/<span th:text="${blogList.totalPages}"></span>
            <a th:href="@{'/customer'(page=${blogList.number + 1})}" th:if="${blogList.hasNext()}">Next</a>
        </div>
    </table>
</div>
<button type="button" class="btn btn-primary btn-lg" id="btnModalCreate">
    Create
</button>

<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Body
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/js/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {
        $("#btnModalCreate").click(function () {
            $.ajax({
                type: "GET",
                url: "/create",
                dataType: "HTML",
                success: function (data) {
                    $(".modal-body").html(data);
                    $("#modelId").modal('show');
                }
            });
        });
    });
</script>
</body>
</html>