<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <h1>Create new villa</h1>
    <form th:action="@{/service/save}" th:object="${service}" method="post" novalidate="novalidate">
        <div class="form-group">
            <label class="col-form-label col-2">serviceId</label>
            <input class="form-control col-6" type="text" th:field="*{serviceId}"/>
        </div>
        <div class="form-group">
            <label class="col-form-label col-2">serviceName</label>
            <input class="form-control col-6" type="text" th:field="*{serviceName}"/>
        </div>
        <div class="form-group">
            <label class="col-form-label col-2">serviceArea</label>
            <input class="form-control col-6" type="text" th:field="*{serviceArea}"/>
        </div>
        <div class="form-group">
            <label class="col-form-label col-2">serviceCost</label>
            <input class="form-control col-6" type="text" th:field="*{serviceCost}"/>
        </div>
        <div class="form-group">
            <label class="col-form-label col-2">serviceMaxPeople</label>
            <input class="form-control col-6" type="text" th:field="*{serviceMaxPeople}"/>
        </div>
        <div> Rent type
            <select  class="custom-color-dialog" th:field="*{renType.rentTypeId}">
                <option th:each="customerTypeL: ${renTypeList}" th:value="${customerTypeL.rentTypeId}" th:text="${customerTypeL.rentTypeName}">
                </option>
            </select>
        </div>
        <div>
            serviceType
            <select class="custom-color-dialog"  th:field="*{serviceType.serviceTypeId}">
                <option th:each="customerTypeL: ${serviceTypeList}" th:value="${customerTypeL.serviceTypeId}" th:text="${customerTypeL.serviceTypeName}">
                </option>
            </select>
        </div>
        <div class="form-group">
            <label class="col-form-label col-2">standardRoom</label>
            <input class="form-control col-6" type="hidden" th:field="*{standardRoom}"/>
        </div>
        <div class="form-group">
            <label class="col-form-label col-2">descriptionOtherConvenience</label>
            <input class="form-control col-6" type="hidden" th:field="*{descriptionOtherConvenience}"/>
        </div>
        <div class="form-group">
            <label class="col-form-label col-2">poolArea</label>
            <input class="form-control col-6" type="hidden" th:field="*{poolArea}"/>
        </div>
        <div class="form-group">
            <label class="col-form-label col-2">numberOfFloors</label>
            <input class="form-control col-6" type="hidden" th:field="*{numberOfFloors}"/>
        </div>
        <div class="form-group">
            <label class="col-form-label col-2">free service</label>
            <input class="form-control col-6" type="text" th:field="*{freeService}"/>
        </div>
        <input type="submit" class="btn btn-outline-success" value="Create"/>
        <a th:href="@{/customer/list}" class="btn btn-outline-primary">Back</a>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>