<div class="card" style="width:400px">
<!--  <img class="card-img-top" src="" alt="Card image">-->
  <div class="card-body">
    <h4 class="card-title">ID : {{ studentIn.id }}</h4>
    <h4 class="card-title">Name : {{ studentIn.name }}</h4>
    <h4 class="card-title">Age : {{ studentIn.age }}</h4>
    <h4 class="card-title">Mark : {{ studentIn.mark }}</h4>
  </div>
</div>
<input type="text" placeholder="input your mark" [(ngModel)]="value">
<button class="btn btn-dark" (click)="riseUp()">Button</button>

