<!--<form [formGroup]="studentForm" (ngSubmit)="onSubmit()" >-->
<!--  <div class="form-group">-->
<!--    <label>ID:</label>-->
<!--    <input type="text" id="id" name="id" formControlName="id" class="form-control"  aria-describedby="emailHelp" placeholder="Enter email">-->
<!--  </div>-->
<!--  <div class="form-group">-->
<!--    <label >Name </label>-->
<!--    <input id="name" name="name" formControlName="name" type="password" class="form-control"  placeholder="Password">-->
<!--  </div>-->
<!--  <div class="form-group">-->
<!--    <label >Age </label>-->
<!--    <input id="age" name="age" formControlName="age" type="password" class="form-control"  placeholder="Password">-->
<!--  </div>-->
<!--  <div class="form-group">-->
<!--    <label >Mark </label>-->
<!--    <input id="mark" name="mark" formControlName="mark" type="password" class="form-control"  placeholder="Password">-->
<!--  </div>-->
<!--  <button type="submit" [formGroup]="studentForm" (ngSubmit)="onSubmit()" class="btn btn-primary">Submit</button>-->
<!--</form>-->
