<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="/layout :: head">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<br>
<form th:action="@{/product/edit} " th:object="${product}" method="post">
    <input class="form-control col-6" type="text" th:field="*{id}"> ID
    <input  class="form-control col-6" type="text" th:field="*{name}"> Name
    <input class="form-control col-6" type="text" th:field="*{price}"> Price
    <input  class="form-control col-6" type="text" th:field="*{manufacture}"> Manufacture
</form>
<input class="arrow-button" type="submit">
</br>
<a th:href="@{/show}" class="btn btn-outline-dark">Home</a>
</body>
</html>